# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

steps:
- task: DownloadGitHubRelease@0
  inputs:
    connection: 'githubconnection2'
    userRepository: 'SivaSuryaPrasad/TestRepo'
    defaultVersionType: 'specificVersion'
    version: '25673815'
    downloadPath: '$(Build.SourcesDirectory)'


- task: AzurePowerShell@5
  inputs:
    azureSubscription: 'Enterprise Dev/Test(5)(41b5ecaa-6ba7-41e8-8cd6-4f733d75a32b)'
    ScriptType: 'FilePath'
    ScriptPath: '$(Build.SourcesDirectory)/Artifacts/test.yml'
    azurePowerShellVersion: 'LatestVersion'


  