pool:
  vmImage: 'vs2017-win2016'

steps:
- task: DownloadGitHubRelease@0
  inputs:
    connection: 'github.com_SivaSuryaPrasad'
    userRepository: 'SivaSuryaPrasad/TestRepo'
    defaultVersionType: 'latest'
    downloadPath: '$(System.ArtifactsDirectory)'

- powershell: echo $(System.ArtifactsDirectory)