# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

steps:
- task: DownloadGitHubRelease@0
  inputs:
    connection: 'githubconnection2'
    userRepository: 'SivaSuryaPrasad/TestRepo'
    defaultVersionType: 'specificVersion'
    version: '25673815'
    downloadPath: '$(Build.SourcesDirectory)'

- template: '$(Build.SourcesDirectory)/Artifacts/test.yml'





  